<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>New Person</title>
    </head>
    <body>

        New person
        <hr/>

        <form th:method="POST" th:action="@{/people}" th:object="${person}">
            <label for="fullName">Enter full name: </label>
            <input type="text" th:field="*{fullName}" id="fullName"/>
            <div style="color: red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></div>

            <br/>
            <label for="year">Enter year: </label>
            <input type="text" th:field="*{year}" id="year"/>
            <div style="color: red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></div>

            <br/>
            <input type="submit" value="Create">
        </form>

        <hr/>
        <a href="/people">Back</a>

    </body>
</html>