<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>All Books</title>
    </head>
    <body>

        All books
        <hr/>

        <div th:each="book : ${books}">
            <a th:href="@{/books/{id}(id=${book.getId()})}"
               th:text="${book.getId()}"></a>
            <span th:text="${book.getName() + ', ' + book.getAuthor()}"></span>
        </div>

        <hr/>

        <a href="/books/new">New book</a>
        <br/>
        <a href="/">Main Page</a>

    </body>
</html>